.header{
    background-color:lightblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-start;
    width: 100%;
    border: 8px outset lightskyblue;
}

.websitename{
    margin: 4px 8px;
    color:darkblue;
    font-size: 30px;
    font-weight: 700;
}

.description{
    margin: 4px 8px;
    color:rgb(50, 77, 104)
}

.logo{
    margin: 4px 8px;
    background-color: lightsteelblue;
}