.header{
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 8px outset lightskyblue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.websitename{
    margin: 4px 8px;
    color:darkblue;
    font-size: 30px;
    font-weight: 700;
}

.description{
    margin: 4px 8px;
    color:rgb(50, 77, 104);
    font-size: 20px;
}

.logo{
    margin: 4px 8px;
    background-color: lightsteelblue;
}