/* You can add global styles to this file, and also import other style files */
/* background for entire page

.transportation{
    background-color: lightpink;
}
.lodging{
    background-color: lightpink;
}
.dining{
    background-color: lightpink;
}
.activities{
    background-color: lightpink;
}
.flights{
    background-color: lightpink;
}
.generalinfo{
    background-color: lightpink;
}
.weather{
    background-color: lightpink;
}
.weather > .title{
    text-align: center;
    text-decoration: underline ;

        background: url(background.jpeg) no-repeat center center fixed; 

}

*/

html {
  background: url(C:\Users\amsoc\OneDrive\Desktop\FleetingBliss\FleetingBliss\intro2angular\src\assets\images\background.jpeg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
