<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>
    <body>

    <!--Website Name, Description, Photo-->
    <div class="header">
    <div class="websitename">Fleeting Bliss</div>
    <div class="description">Plan the vacation of your dreams!</div>
    <div class="logo">Image/Logo here</div>
    </div>
    <!--Navigation Bar-->
    <div class="navigationbar">
        <div class="dropdown">
            <button class="dropbtn">Popular in Europe</button>
            <div class="dropdown-content">
              <a href="#">Spain</a>
              <a href="#">England</a>
              <a href="#">France</a>
              <a href="#">Italy</a>
              <a href="#">Germany</a>
              <a href="#">Switzerland</a>
              <a href="#">Sweden</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Popular in Asia</button>
            <div class="dropdown-content">
              <a href="#">Japan</a>
              <a href="#">South Korea</a>
              <a href="#">China</a>
              <a href="#">India</a>
              <a href="#">Singapore</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Popular in Africa</button>
            <div class="dropdown-content">
              <a href="#">Cairo, Egypt</a>
              <a href="#">Tanzania</a>
              <a href="#">Cape Town, South Africa</a>
              <a href="#">Madagascar</a>
              <a href="#">Morocco</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Popular in USA</button>
            <div class="dropdown-content">
              <a href="#">New York City</a>
              <a href="#">California</a>
              <a href="#">Washington D.C.</a>
              <a href="#">Las Vegas, Nevada</a>
              <a href="#">New Orleans, Louisianna</a>
              <a href="#">Alaska</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">For Nature Lovers</button>
            <div class="dropdown-content">
              <a href="#">Mountain</a>
              <a href="#">Natural Parks</a>
              <a href="#">Ocean</a>
              <a href="#">Canyons</a>
              <a href="#">Volcanoes</a>
              <a href="#">Northern Lights</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Best Beaches</button>
            <div class="dropdown-content">
              <a href="#">Fiji</a>
              <a href="#">Bora Bora</a>
              <a href="#">Maldives</a>
              <a href="#">Tahiti</a>
              <a href="#">Maui</a>
              <a href="#">Cancun</a>
              <a href="#">Bahamas</a>
              <a href="#">Amalfi Coast</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Top Cities</button>
            <div class="dropdown-content">
              <a href="#">Paris, France</a>
              <a href="#">Rome, Italy</a>
              <a href="#">Hong Kong, China</a>
              <a href="#">Amsterdam, Netherlands</a>
              <a href="#">Venice, Italy</a>
              <a href="#">Tokyo, Japan</a>
              <a href="#">Bangkok, Thailand</a>
              <a href="#">Dubai, United Arab Emirates</a>
              <a href="#">Istanbul, Turkey</a>
              <a href="#">Prague, Czech Republic</a>
            </div>
          </div>
          
    </div>
    <!--Main Information-->
    <div class="mainpage">
        <div class="spain">
            <p>Spain</p>
            <p>Currency: The Euro (€)</p>
            
        </div>
    </div>
    
    </body>
    <!--Footer-->
    <footer>
        <p>Footer</p>
        <p>Author: Aayush Malde</p>
        <p>Email: malde.aayush@gmail.com</p>
    </footer>

    <table>
    <tr>
        <td>Index</td>
        <td>Name</td>
        <td>Is online?</td>
    </tr>
    <tr *ngFor="let record of records; let myIndex = index; let firstRecord = first; let lastRecord = last; let evenRecord = even; let oddRecord = odd;" [ngClass]="{odd: oddRecord, even: evenRecord, first:firstRecord, last:lastRecord}">
        <td>{{myIndex+1}}</td>
        <td>{{record.name}}</td>
        <td>{{record.online}}</td>
    </tr>
</table>

Custom Hello Component: <app-hello></app-hello>
</html>

