/* background for entire page

.transportation{
    background-color: lightpink;
}
.lodging{
    background-color: lightpink;
}
.dining{
    background-color: lightpink;
}
.activities{
    background-color: lightpink;
}
.flights{
    background-color: lightpink;
}
.generalinfo{
    background-color: lightpink;
}
.weather{
    background-color: lightpink;
}
.weather > .title{
    text-align: center;
    text-decoration: underline ;
}

*/
html { 
    background: url(C:\Users\amsoc\OneDrive\Desktop\FleetingBliss\FleetingBliss\background.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mainpage{
    background-color:rgb(245, 216, 245);
    border: 4px outset plum;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content:center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 4px;
    column-gap: 10px;
}

.spain{
    background-color: lightpink;
}
